{% load static %}
<header class="bg-gradient-to-br via-gray-800 from-gray-700 to-black">
    <div class="flex items-center justify-between p-1"> 
        <div class="flex-grow"></div> <!-- Espacio flexible para empujar el botón a la derecha -->
        <button id="menu-toggle" class="text-white md:hidden">
            <!-- Icono de menú -->
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>

    <div id="nav-menu" class="hidden md:block">
        {% include 'components/UI/navbarBASIC.html' %}
        {% include 'components/UI/navBarSecciones.html' %}
        <div class="w-full h-96">
            <img src="{% static 'currusel/tu-imagen-fija.jpg' %}" alt="Imagen Fija" class="w-full h-full object-cover">
        </div>
    </div>
</header>

<script src="{% static 'js/headers-script.js' %}"></script>