{% extends 'layouts/general_layouts.html' %}


{% block title %}
    USER | UPDATE
{% endblock title %}

{% block content %}
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-center text-2xl mb-6">Actualizar Perfil</h1>
            <form class="flex flex-col max-w-[400px] gap-4" method="post"
                enctype="multipart/form-data">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" class="w-full bg-green-400 py-2 rounded-lg">
                Actualizar Informacion.
                </button>
            </form>
    </div>
{% endblock content %}



{% comment %}
    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER | UPDATE</title>
</head>
<body>
    <h1> user updaets </h1>
</body>
</html>
{% endcomment %}
    
