{% extends 'layouts/general_layouts.html' %}


{% block title %}
    INICIO | TEGNOLOGIA BLOG
{% endblock title %}


{% block content %}
    <h1> NOTICIAS TEGNOLOGICAS  </h1>
{% endblock content %}

{% comment %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME | PROYECTO</title>
</head>
<body>
    <h1> esto es un titulo para la pagina, se redirigio templates</h1>
</body>
</html>
{% endcomment %}      
    