<nav>
    <ul>
        <li>
            <a href="{%url 'post:seccion_avances_tegnologicos' slug='avances-tegnologicos' %}"> Avances en Tegnologia </a>
        </li>
        <li>
            <a href="{%url 'post:seccion_programacion' slug='programacion' %}"> Programacion </a>
        </li>
        <li>
            <a href="{%url 'post:seccion_IA' slug='IA' %}"> IA </a>
        </li>
        <li>
            <a href="{%url 'post:seccion_empresas' slug='empresas' %}"> Empresas </a>
        </li>
        <li>
            <a href="{%url 'post:seccion_componentes' slug='componentes-tegnologicos' %}"> Componentes </a>
        </li>
        <li>
            <a href="{%url 'post:seccion_tendencias' slug='tendencias' %}"> Ultimas Tendencias </a>
        </li>
    </ul>
</nav>