{% extends 'layouts/general_layouts.html' %}


{% block title %}
    INFORMACION DE PAGINA
{% endblock title %}


{% block content %}
    <h1> Informacion de Pagina </h1>
    <p> esta pagina es un proyecto educativo para profundizar en los lenguajes python, html, css y django </p>
    <p>el objetivo del la pagina en si seria simular de manera mas profesional/realista/practica un sitio web dedicado
    a la carga de noticias referentes a la tegnologia</p>
    <p> integrantes del proyecto:</p>
    <li>
        <p>-Angel Emmanuel, Lopez Vega.</p>
    </li>
    <li>
        <p>-Augusto Nahuel, Valentinotti.</p>
    </li>
    <li>
        <p>-Franco Quiroz, Facundo Agustin.</p>
    </li>
    <li>
        <p>-Olmos, Silvina Alejandra.</p>
    </li>

{% endblock content %}
