{% extends 'layouts/general_layouts.html' %}

{% block title %}Eliminar Categoría | BLOG TECNOLÓGICO{% endblock title %}

{% block content %}
<div class="bg-gray-800 p-6 rounded-lg shadow-lg max-w-md mx-auto mt-10">
    <!-- Título del formulario -->
    <h2 class="text-white text-2xl font-bold text-center mb-4">¿Estás seguro de que deseas eliminar esta categoría?</h2>
    <p class="text-red-500 text-center mb-6">(Se eliminarán los posts asociados)</p>

    <!-- Formulario para eliminar la categoría -->
    <form method="post" class="flex items-center justify-between">
        {% csrf_token %}
        <button type="submit" class="bg-red-600 text-white font-semibold py-2 px-4 rounded-lg hover:bg-red-500 transition duration-300">
            Sí, eliminar
        </button>
        <a href="{% url 'post:category_recent' %}" class="bg-gray-600 text-white py-2 px-4 rounded-lg hover:bg-gray-500 transition duration-300">
            Cancelar
        </a>
    </form>
</div>
{% endblock content %}
