{% extends 'layouts/general_layouts.html' %}
{% block title %}Resultados de búsqueda | BLOG TECNOLÓGICO{% endblock title %}

{% block content %}
{% load static %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% if posts %}
        {% for post in posts %}
        <div class="relative overflow-hidden group transform transition duration-300 ease-in-out hover:scale-105 rounded-xl">
            {% if post.images.exists %}
                {% with post.images.first as image %}
                    <a href="{% url 'post:post_detail' slug=post.slug %}">
                        <div class="w-full h-72 bg-cover bg-center transform transition duration-500 ease-in-out group-hover:scale-110 rounded-xl"
                             style="background-image: url('{{ image.image.url }}');">
                        </div>
                    </a>
                {% endwith %}
            {% else %}
                <a href="{% url 'post:post_detail' slug=post.slug %}">
                    <div class="w-full h-72 bg-cover bg-center transform transition duration-500 ease-in-out group-hover:scale-110 rounded-xl"
                         style="background-image: url('{% static 'post/default/post_default.png' %}');">
                    </div>
                </a>
            {% endif %}

            <div class="absolute bottom-0 left-0 w-full bg-black bg-opacity-60 p-4 text-white rounded-b-xl">
                <p>{{ post.creation_date|date:"d M Y" }} . {{ post.author.username }}</p>
                <h3 class="text-xl font-bold">{{ post.title }}</h3>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-span-3">
            <p class="text-center text-white text-2xl">No se encontraron resultados para tu búsqueda.</p>
        </div>
    {% endif %}
</div>

<div class="bg-transparent p-6 flex justify-center items-center">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="bg-gray-300 text-gray-800 rounded-lg px-4 py-2 hover:bg-gray-400 hover:text-white">Anterior</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="bg-gray-300 text-gray-800 rounded-lg px-4 py-2 hover:bg-gray-400 hover:text-white">Siguiente</a>
    {% endif %}
</div>

<div class="bg-gray-300 text-gray-800 p-4 rounded-lg flex justify-center items-center">
    <span class="text-lg font-semibold">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
</div>

{% endblock content %}
